@use "sass:color";

$green: #75a834;
$blue: #123453;
$text-color: white;
$hover-transition-duration: 0.6s;

.faq-header {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 80px;
    z-index: 5;
    background-color: #fff;
    box-sizing: border-box;
}

.faq-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.faq-hover-hidden {
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.faq-header-text {
    text-align: left;
}

.faq-header-text h1 {
    color: $blue;
    margin: 0;
    // font-size: 24px;
    font-weight: 700;
}

.faq-header-text p {
    color: $blue;
    margin: 5px 0 0;
    font-size: 16px;
}

.faq-header-text h1::selection {
    color: white;
    background-color: $green;
}

.faq-header-text p::selection {
    color: white;
    background-color: $green;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    // margin-right: 14%;
    // margin-top: 10px;
    margin-bottom: 20px;
}

.toggle-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #e7e7e7;
    color: $blue;
    border-radius: 5px;
}

.toggle-buttons button.active {
    background-color: $green;
    color: #fff;
}

.faq-containers {
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.sidebar {
    flex: 1;
    position: sticky;
    top: 210px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.sidebar h3 {
    margin-bottom: 15px;
    color: $blue;
    font-size: 1.25em;
    font-weight: 600;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 12px;
}

.sidebar ul li a {
    color: $blue;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    cursor: pointer;
    color: $blue;
    font-weight: 500;
    text-decoration: none;
}

.support-box {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}

.support-box strong {
    display: block;
    font-size: 1.1em;
    color: $blue;
    margin-bottom: 8px;
}

.support-box p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.support-box a {
    color: $blue;
    text-decoration: none;
}

.support-box a:hover {
    text-decoration: underline;
}

.faq-content {
    top: 100px;
    flex: 3;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.faq-section {
    margin-bottom: 30px;
}

.faq-section h2 {
    // font-size: 1.8rem;
    // scroll-margin-top: 250px;
    color: $blue;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.faq-section h2::selection {
    color: white;
    background-color: $green;
}

.faq-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}

.faq-item:hover {
    background-color: hsl(86, 53%, 60%);
    border-radius: 10px;

    .faq-que {
        color: white;
        transition: color 0.3s ease;
    }

    .icon {
        color: white;
        transition: color 0.3s ease;
    }
}

.faq-que {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: $blue;
    padding: 10px;
    transition: color 0.3s ease;
}

.faq-que h3 {
    font-size: 1.2rem;
    text-align: left;
    margin: 0;
}

// .faq-que h3::selection {
//     color: white;
//     background-color: $green;
// }

.faq-item.open .faq-que h3 {
    color: #0056b3;
}

.icon {
    font-size: 1.5rem;
    color: $blue;
    transition: transform 0.3s ease;
    align-items: right;
}

.faq-item.open .icon {
    transform: rotate(90deg);
}

.faq-item p {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    padding-left: 20px;
}

.faq-item p::selection {
    color: white;
    background-color: $blue;
}

.faq-item.open p {
    display: block;
}

.back-to-top {
    margin-top: 30px;
    // text-align: right;
    font-size: 14px;
}

.back-to-top a {
    text-decoration: none;
    color: #75a834;
    font-weight: 500;
    border: 2px solid #75a834;
    padding: 5px;
    border-radius: 4px;
}

.back-to-top a:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: 2px solid #75a834;
    background-color: #75a834;
    padding: 5px;
    border-radius: 4px;
}

/* Responsiveness (1024px) */
@media (max-width: 1024px) {
    .faq-header {
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        margin-top: 15px;
    }

    .faq-container {
        flex-direction: column;
        margin-top: 20px;
    }

    .sidebar {
        flex: none;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
        top: 40px;
    }

    .faq-content {
        flex: none;
        width: 100%;
    }

    .faq-section h2 {
        font-size: 1.5rem;
    }

    .faq-que {
        font-size: 1.1rem;
    }
}

/* Responsiveness (768px) */
@media (max-width: 768px) {
    .faq-hover{
        display: none;
    }
    .sidebar {
        display: block;
        width: 100%;
        margin-bottom: 0px;
        position: relative;
        top: 0px;
        padding-bottom: 0px;
    }

    .sidebar ul {
        margin-bottom: 0px;
    }

    .sidebar h3 {
        margin-bottom: 0;
    }

    .toggle-buttons {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 0px;
    }

    #employerBtn {
        // color: red;
        padding: 0px;
        margin: 50px;
        margin-top: 0px;
        margin-right: 3px;
    }

    #employeeBtn {
        // color: red;
        padding: 0px;
        margin: 50px;
        margin-top: 0px;
        margin-left: 3px;
        
    }

    .faq-content {
        padding: 15px;
    }

    .faq-item {
        margin-bottom: 12px;
        padding-bottom: 12px;
    }

    .faq-que {
        font-size: 1.1rem;
    }

    .faq-item p {
        font-size: 0.95rem;
    }

    .faq-header-text {
        margin-left: 10%;
    }

    .toggle-buttons button {
        width: 45%;
        padding: 12px 0;
    }

    .support-box {
        display: none;
    }
}

/* Responsiveness (480px) */
@media (max-width: 480px) {
    .faq-header-text {
        margin-left: 0;

    }

    .faq-section h2 {
        font-size: 1.3rem;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .faq-que {
        font-size: 1rem;
    }

    .icon {
        font-size: 1.2rem;
    }

    .faq-item p {
        font-size: 0.9rem;
    }

    .faq-content {
        padding: 12px;
    }

    .faq-item {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .faq-que h3 {
        font-size: 1.1rem;
    }

    .faq-item p {
        padding-left: 15px;
    }

    .toggle-buttons button {
        width: 100%;
        padding: 12px 0;
    }

    .faq-header {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 20px;
    }

    .faq-header-text {
        text-align: center;
    }
}

/* (320px) */
@media (max-width: 320px) {
    .faq-section h2 {
        font-size: 1.2rem;
    }

    .faq-item p {
        font-size: 0.85rem;
    }

    .faq-header-text h1 {
        font-size: 1.4rem;
    }

    .faq-header-text p {
        font-size: 0.95rem;
    }

    .icon {
        font-size: 1.1rem;
    }
}