@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

$box-color: #E6FFE9;
// $hover-color: color.scale($box-color, $lightness: -20%);
$hover-color: #75a834;
$text-color: white;
$color: #75a834;
$background-color: #123453;
$hover-background-color: #0c2a3a;
$hover-transition-duration: 0.6s;

// .demo-txt {
//   position: relative;
//   text-align: center;
// }

// .demo-txt h2 {
//   color: #fff;
//   font-size: 4.5rem;
//   position: absolute;
//   transform: translate(-50%, -50%);
//   white-space: nowrap;
// }

// .demo-txt h2:nth-child(1) {
//   color: transparent;
//   -webkit-text-stroke: 1px #75a834;
// }

// .demo-txt h2:nth-child(2) {
//   color: #a7c75d;
//   animation: animate 4s ease-in-out infinite;
// }

// @keyframes animate {

//   0%,
//   100% {
//     clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
//   }

//   50% {
//     clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
//   }
// }

// @media (max-width: 768px) {
//   .demo-txt h2 {
//     font-size: 3rem;
//   }
// }

// @media (max-width: 480px) {
//   .demo-txt h2 {
//     font-size: 2.3rem;
//   }
// }

.demo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
  background: $background-color;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  text-align: left;
  // margin-top: 60px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    // .demo-left {
    //   margin-top: 20px;
    // }
  }
}

.demo-left {
  flex: 1;
  max-width: 600px;

  .demo-h2 {
    font-family: "EB Garamond", serif;
    font-style: italic;
    font-size: 1.5rem;
    // margin-top: 15px;
    margin-bottom: 20px;
  }

  .demo-p {
    color: white;
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

.demo-right {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-btn {
  font-size: 1.5rem;
  color: $color;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.demo-btn:hover {
  cursor: pointer;
  background: $color;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .demo-h2 {
    font-size: 1.2rem;
  }

  .demo-p {
    font-size: 1rem;
  }

  .demo-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}