body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    display: flex;
    justify-content: center;
}

.privacy-container {
    display: flex;
    flex-direction: row;
    // width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 90px;
    gap: 20px;
}

.main-content {
    padding: 25px;
    flex: 3;
}

.main-content h1 {
    text-align: center;
    color: #123453;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

p strong {
    text-align: center;
}

.main-content h1::selection {
    color: white;
    background-color: #75a834;
}

.main-content h2 {
    color: #123453;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main-content h2::selection {
    color: white;
    background-color: #75a834;
}

.main-content p {
    margin-bottom: 15px;
}

.main-content p::selection {
    color: white;
    background-color: #75a834;
}

.main-content p strong::selection {
    color: white;
    background-color: #75a834;
}

p ul li::selection,
p ol li::selection {
    color: white;
    background-color: #75a834;
}

.table-of-contents {
    flex: 1;
    position: sticky;
    top: 100px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    padding-left: 50px;
    height: fit-content;
}

.table-of-contents h3 {
    color: #123453;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 15px;
}

.table-of-contents ul {
    // list-style: none;
    list-style-type: decimal;
    padding: 0;
}

.table-of-contents ul li {
    margin-bottom: 10px;
}

.table-of-contents ul li a {
    text-decoration: underline !important;
    color: #333;
    font-size: 14px;
    transition: color 0.3s;
}

.table-of-contents ul li a:hover {
    cursor: pointer;
    color: #75a834;
    font-weight: 500;
    transition-duration: 500ms;
}

.table-of-contents h3::selection,
.table-of-contents ul li a::selection {
    color: white;
    background-color: #75a834;
}

.table-of-contents1 {
    display: none;
}

.table-of-contents1 h3 {
    color: #123453;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 15px;
}

.table-of-contents1 ul {
    // list-style: none;
    list-style-type: decimal;
    padding: 0;
}

.table-of-contents1 ul li {
    // margin-bottom: 10px;
}

.table-of-contents1 ul li a {
    text-decoration: underline !important;
    color: #333;
    font-size: 14px;
    transition: color 0.3s;
}

.table-of-contents1 ul li a:hover {
    color: #007BFF;
}

.table-of-contents1 h3::selection,
.table-of-contents1 ul li a::selection {
    color: white;
    background-color: #75a834;
}

.back-to-top {
    margin-top: 30px;
    // text-align: right;
    font-size: 14px;
}

.back-to-top a {
    text-decoration: none;
    color: #75a834;
    font-weight: 500;
    border: 2px solid #75a834;
    padding: 5px;
    border-radius: 4px;
}

.back-to-top a:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: 2px solid #75a834;
    background-color: #75a834;
    padding: 5px;
    border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main-content {
        padding: 20px;
    }

    .table-of-contents {
        display: none;
    }

    .table-of-contents1 {
        display: block;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .table-of-contents1 ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .table-of-contents1 ul li {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .main-content {
        padding: 15px;
        padding-top: 0px;
    }

    .main-content h1 {
        font-size: 32px;
    }

    .main-content h2 {
        font-size: 20px;
    }

    .table-of-contents1 {
        background-color: #e9f4e8;
        border: 1px solid #75a834;
        border-radius: 10px;
        padding: 10px;
        padding-left: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .table-of-contents1 ul li {
        flex: 1 1 100%;
        margin-bottom: 0;
    }
}