@use "sass:color";

$bg-color: #123453;

.about-section {
    background-color: $bg-color;
}

.about-heading {
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.about-p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    color: white;
    padding-bottom: 50px;
}