@use "sass:map";
@use "sass:color";

$text-color: #123453;
$green: #75a834;
$hover-transition-duration: 0.3s;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 868px, // originally 768
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 14%;
  padding-top: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .logo {
    font-size: 32px;
    color: $text-color;
    font-weight: 700;

    img {
      height: 50px;
      width: auto;
    }
  }

  .burger-button {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    width: 30px;

    span {
      display: block;
      height: 3px;
      background: $text-color;
      border-radius: 2px;
      transition: all 0.3s;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translateY(11px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
      }
    }

    @media (max-width: map.get($grid-breakpoints, md)) {
      display: flex;
    }
  }

  .navbar {
    display: flex;
    align-items: center;

    a {
      position: relative;
      font-size: 18px;
      color: $text-color;
      font-weight: 500;
      margin-left: 40px;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: $text-color;
        transition: width $hover-transition-duration;
      }

      &:hover::before {
        width: 100%;
      }

      &.button {
        padding: 10px 20px;
        background: $text-color;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s;

        &:hover {
          background: color.adjust($text-color, $lightness: -10%);
        }
      }
    }

    @media (max-width: map.get($grid-breakpoints, md)) {
      display: none;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 60px;
      right: 10%;
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 99;

      &.active {
        display: inline-grid;
      }

      a {
        margin: 10px 0;
      }
    }
  }

  .navbar a:hover {
    cursor: pointer;
  }

  #new-demo-button {
    background: $green;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    margin-left: 25px;
    font-weight: 500;
    text-decoration: none;

    &::before {
      content: none;
    }
  }

  #new-demo-button:hover {
    cursor: pointer;
    text-decoration: none;
  }

  // Responsive
  @media (max-width: map.get($grid-breakpoints, sm)) {
    padding: 10px 5%;

    .logo {
      font-size: 24px;

      img {
        height: 35px;
        width: auto;
      }
    }

    .navbar a {
      font-size: 16px;
    }
  }

  @media (max-width: map.get($grid-breakpoints, lg)) {
    padding: 15px 8%;

    .logo {
      font-size: 28px;
    }

    .navbar a {
      font-size: 17px;
      margin-left: 20px;
    }
  }

  @media (max-width: map.get($grid-breakpoints, xl)) {
    padding: 15px 9%;

    .navbar a {
      font-size: 18px;
      margin-left: 25px;
    }
  }

  @media (min-width: map.get($grid-breakpoints, xxl)) {
    .header {
      padding: 20px 12%;
    }
  }
}