@use "sass:map";
@use "sass:color";

$color: #75a834;
$text-color: white;
$hover-transition-duration: 0.3s;

.demo-button {
    background: $color;
    color: $text-color;
    padding: 10px 15px;
    border-radius: 25px;
    margin-left: 25px;
    font-weight: 500;
}

.demo-button:hover {
    // background-color: #6aac3e;
    cursor: pointer;
}

// have to add that shimmer effect later